/* REGOLE DI DEFAULT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* IMP CONTAINER + no overflow + VH per occupare tutto lo spazio*/
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body{
  font-family: sans-serif;
}
/* FLEX  */
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
/* REGOLE ASSE Y */
.aic{
align-items: center;
}
.ais{
align-items: start;
}
.aie{
align-items: end;
}
/* REGOLE ASSE X */
.jcs{
 justify-content: flex-start;
}
.jce{
  justify-content: flex-end;
}
.jcc{
  justify-content: center;
}
.spb{
  justify-content: space-between;
}
.spa{
  justify-content: space-around;
}
.block{
  display: inline-block;
}
.middle{
  vertical-align: middle;
}
/* RED STATS flex e fixed */
main {
  display: flex;
  height: calc(100% - 90px);

}
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: #282828;
  width: 100%;
}
h2, h4{
  color: white;
}
h4{
  padding-top: 10px;
}
h3 i {
  font-size: 40px;
}
ul{
  list-style: none;
}
hr{
  width: 90%;
}
.up{
  text-transform: uppercase;
}
.tac{
  text-align: center;
}
/* NON LEGGEVA ICO  */
/* h3::before{
content: "\f0fe";
font-style: solid style ;
} */
/* IMMAGINI WARNING */
.normal{
  width: 100%;
}
.circle{
  border-radius: 999rem;
}
.md{
  height: 50px;
}
.sm{
  height: 30px;
}
.xs{
  height: 20px;
}
.logo{
  height: 47px;
}
.ico{
  height: 40px;
}
/* COLORI SFONDI */
.bgcbk {
  background-color: black;
}
.tcw{
  color: white;
}
.tcg{
  color: #919496;
}
/* FLEX COLONNA */
.main-nav {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-nav-body{
  overflow: hidden;
}
.navbar{
  width: 100%;
}
/* WARNING non funziona SCROLL */
.nome{
  overflow: auto;
  width: 100%;
  min-height: 200px;
}

.main-nav-footer{
  height: 100px;
  background-color: black;
}
/* PARTE DX */
.main-libreria {
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 90px;
  background-color: #141922;
  overflow-y: scroll;
}
.top {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  width: calc(100% - 250px);
  height: 90px;
  line-height: 90px;
  text-align: right;
  background-color: rgba(0,0,0,0.5 );

}
.add{
  font-size: 50px;
}
.navbar li{
  position: relative;
}
.navbar li:hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 30px;
  background-color: green;
  height: 3px;
}
.brano{
  /* width: calc(100% / 6); */
  flex-basis: calc(100% / 6 - 10px);
  position: relative;
  margin-right: 10px;
}
.overlay{
  position: relative;
}
.overlay i{
  position: absolute;
  font-size: 50px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: none;
}

/* LISTE WARNING */
.libreria .navbar li{
  width: calc(100% / 6);
}
.navbar li{
  display: inline;
  text-transform: uppercase;
  padding-right: 15px;
}
.nome li a {
  color: #919496;
}
.navbar li:hover{
  color: white;
}
.nome a:hover{
  color: white;
}
.player li{
  display: inline;
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
#oversize{
  font-size: 30px;
}
.settings li{
  display: inline;
  padding-right: 10px;
}
/* BTN + A */
.btn {
  border-radius: 20px;
  border: 2px solid white;
}
.nome a{
  text-decoration: none;
}
a.btn {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 45px;
  padding: 0 30px;
}
a.btn:hover {
  transform: scale(1.1);
}
/* FOOTER */
.foot{
  width: 100%;
  padding: 20px 20px;
}
.info_brano p{
  font-size: 10px;
}
.folder{
  font-size: 25px;
  color: #919496;
}
.folder i{
  padding-top: 10px;
  padding-right: 5px;
}
.lenght span{
  font-size: 10px;
}
.sinister{
  max-width: 20%;
  align-items: center;
}
.sinister li{
  flex-basis: calc(100% / 4 - 10px );
  margin-right: 10px;
}
.info_brano{
  font-size: 15px;
}
.playmusic{
  /* width:  600px; */
  flex-grow: 1;
}
.control{
  max-width: 20%;
}
.barra1{
  height: 5px;
  width: 65%;
  background-color: #5a5a5a;
  border-radius: 5px;
  position: relative;
}
.barrain1{
  height: 5px;
  width: 40px;
  background-color: #c1c1c1;
  border-radius: 5px;
}
.pallino1{
  z-index: 3;
  width: 15px;
  height: 15px;
  border-radius: 999rem;
  background-color: green;
  position: absolute;
  top: -5px;
  left: 30px;
  display: none;
}
.control{
  width: 230px;
}
.settings{
  width: 100%;
}
.volume{
  width: 60%;
}
.barra2{
  height: 5px;
  width: 100%;
  background-color: #5a5a5a;
  border-radius: 5px;
  position: relative;
}
.barrain2{
  height: 5px;
  width: 29%;
  background-color: #c1c1c1;
  border-radius: 5px;
}
.pallino2{
  z-index: 3;
  width: 15px;
  height: 15px;
  border-radius: 999rem;
  background-color: green;
  position: absolute;
  top: -5px;
  left: 30px;
  display: none;
}
.barra2:hover .pallino2{
  display: block;
}
.barra1:hover .pallino1{
  display: block;
}
/*  WARNING HOVER */
.overlay:hover i{
  display: block;
}
.opa:hover{
  opacity: 0.5;
}
.hwhite:hover{
  color: white;
}
.underwhite:hover{
  color: white;
  text-decoration: underline;
}
.barrain2:hover{
 background-color: green;
}
.scale1:hover{
    transform: scale(1.2);
}
.brano:hover .overlay{
  display: block;
}
/* MEDIA WARNING */
/* HEIGHT */
@media all and (max-height: 550px) {
  /* .utente{
    display: none;
  } */
}
/* WIDTH */
@media all and (max-width: 500px) {
  .main-nav{
    width: 50px;
  }
  .logo , .playlist , hr , span , .blgreen , .scroll{
    display: none;
  }
  .main-nav{
    padding-left: 7px;
  }
  .top{
    width: calc(100% - 50px) ;
  }
  .main-libreria{
    width: 100%;
  }
}
@media all and (min-width: 500px) {
  .ico , .blgreen2{
    display: none;
  }
  .main-nav{
    padding-left: 30px;
  }
}
@media all and (max-width: 900px) and (min-width: 666px) {
  .brano{
    flex-basis: calc(100% / 4 - 10px);
    margin-bottom: 10px;
  }
  .prima{
    width: 100%;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 665px) {
  .brano{
    flex-basis: calc(100% / 2 - 10px);
  }
  .prima{
    width: 100%;
    flex-wrap: wrap;
  }
  .normal{
    width: 60%;
  }
}
@media all and (max-width: 300px) {
  .brano{
    flex-basis: calc(100% / 1 - 10px);
  }
  .prima{
    flex-wrap: wrap;
    width: 100%;
  }
  .normal{
    width: 60%;
  }
}
@media all and (max-width: 800px) {
  .control , .lenght , .sinister{
    font-size: 15px;
  }

}
@media all and (max-width: 700px) {
  .folder{
    flex-wrap: wrap;
    font-size: 15px;
  }
}

/* PADDING&MARGINI */
.pd_30{
  padding: 30px 0px;
}
/* TOP */
.pdt_90{
  padding-top: 50px;
}
.pdt_50{
  padding-top: 50px;
}
.pdt_30{
  padding-top: 30px;
}
.pdt_20{
  padding-top: 20px;
}
.pdt_10{
  padding-top: 10px;
}
.pdt_5{
  padding-top: 5px;
}
/* BOTTOM */
.pdb_50{
  padding-bottom: 50px;
}
.pdb_30{
  padding-bottom: 30px;
}
.pdb_20{
  padding-bottom: 20px;
}
.pdb_10{
  padding-bottom: 10px;
}
.pdb_5{
  padding-bottom: 5px;
}
/* RIGHT */
.pdr_30{
  padding-right: 30px;
}
.pdr_20{
  padding-right: 20px;
}
.pdr_10{
  padding-right: 10px;
}
.pdr_5{
  padding-right: 5px;
}
/* LEFT */
.pdl_150{
  padding-left: 150px;
}
.pdl_50{
  padding-left: 50px;
}
.pdl_30{
  padding-left: 30px;
}
.pdl_20{
  padding-left: 20px;
}
.pdl_10{
  padding-left: 10px;
}
.pdl_5{
  padding-left: 5px;
}
.lh{
  line-height: 30px;
}
