/* REGOLE DI DEFAULT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* IMP CONTAINER + no overflow + VH per occupare tutto lo spazio*/
.container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  overflow: hidden;
}
/* RED STATS flex e fixed */
main {
  display: flex;
  height: calc(100% - 90px);
}
footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom:0;
  left: 0;
  background-color: orange;
  width: 100%;
}
ul{
  list-style: none;
}
h2{
  color: white;
}
/* IMMAGINI */
.normal{
  height: 150px;
  padding-right: 10px;
}

.circle{
  border-radius:999em;
}
/* COLORI SFONDI */
.bgcb {
  background-color: blue;
}
.bgcr {
  background-color: red;
}
.bgcg {
  background-color: green;
}
/* NAV SX  OVERFLOW Y*/
.main-nav-body {
  flex-grow: 2;
  min-height: 300px;
  overflow-y: auto;
}
/* FLEX COLONNA */
.main-nav {
  width: 300px;
  height: 100%;
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* PARTE DX */
.main-libreria {
  width: calc(100% - 300px);
  height: 100%;
  padding-top: 90px;
  background-color: blue;
  overflow-y: scroll;

}
.top {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: darkblue;
  width: calc(100% - 300px);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.navbar{
  width: 100%;
  text-align: center;
}
.navbar li{
  display: inline;
  text-transform: uppercase;
}
/* BTN + A */
.btn {
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid white;
}
a.btn {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
/* FOOTER */
.foot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
}
.box{
  height: 50px;
  width: 90px;
  background-color: brown;
}
/* PADDING&MARGINI */
.pd_30{
  padding: 30px 0;
}
/* TOP */
.pdt_90{
  padding-top: 50px;
}
.pdt_50{
  padding-top: 50px;
}
.pdt_30{
  padding-top: 30px;
}
.pdt_20{
  padding-top: 20px;
}
.pdt_10{
  padding-top: 10px;
}
/* BOTTOM */
.pdb_50{
  padding-bottom: 50px;
}
.pdb_30{
  padding-bottom: 30px;
}
/* RIGHT */
.pdr_10{
  padding-right: 10px;
}
.pdr_30{
  padding-right: 30px;
}
/* LEFT */
.pdl_30{
  padding-left: 30px;
}
.pdl_10{
  padding-left: 20px;
}
